.trailer{
    position: absolute;
    width: 34px;
    height: 410px;
    left: 0px;
    margin-top: 0px;
    
}

.info{
    position: absolute;
    width: 542px;
    height: 409px;
    margin-left: 35px;
    margin-top: 1px;
}


.JBtrailer{
    position: absolute;
    width: 759px;
    height: 409px;
    left: 542px;
    margin-top: 1px;
}