.news{
    position: absolute;
    width: 414px;
    height: 381px;
    left: 15px;
    margin-top: 410px;
}

.born{
    position: absolute;
    width: 413px;
    height: 181px;
    right: 443px;
    margin-top: 410px;
}

.netflix{
    position: absolute;
    width: 414px;
    height: 182px;
    right: 441px;
    margin-top: 581px;
}

.wall{
    position: absolute;
    width: 407px;
    height: 379px;
    right: 15px;
    margin-top: 390px;
}